.body-container {
  font-family: MYRIADPROREGULAR, Arial, Helvetica, sans-serif;
  position: relative;
  top: 60px;

}

.mesh-footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}



/*login button*/
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */

.loginBtn.m-facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn.m-facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn.m-facebook:hover,
.loginBtn.m-facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn.m-google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn.m-google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn.m-google:hover,
.loginBtn.m-google:focus {
  background: #E74B37;
}

/*profile picture*/
.profileImage{
  display: block;
  height: 65px;
  width: 65px;
  background-size: 100%;
  border-radius: 68px;
  box-shadow: none;
  cursor: pointer;
  float: left;
  position: relative;
  overflow: hidden;

}



.hamburgerMenu:hover, .hamburgerMenu:target{
  color: #FFF;
}



/*
  Home page
 */


.homePageTree{
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(./../images/tree.svg) no-repeat top right;
  background-size: contain;
}


.homePageTree{
  display: block;
}

/*
Dashboard
*/
.dashBoardStoryName{
  width: 50%;

}
.dashBoardStoryBox{
  padding: 40px;
  background-color: #fc6c77;

}
.dashBoardStoryBoxImg{
  min-width: 180px;
  min-height:180px;
  background-color: #3f3f3f;
}

/*Dropdown*/


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}
.audioRecorder{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.audioMic{
  font-size: 120px;
}
.audioMic.m-active{
  color: #cd040b;
}

/*Overlay*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RjM5QzI1NTJGRDQxMTFFMzhFQTFFMjFBRTZDNzRFMDYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RjM5QzI1NTNGRDQxMTFFMzhFQTFFMjFBRTZDNzRFMDYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGMzlDMjU1MEZENDExMUUzOEVBMUUyMUFFNkM3NEUwNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGMzlDMjU1MUZENDExMUUzOEVBMUUyMUFFNkM3NEUwNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnQq41IAAAAPSURBVHjaYmBgYNgPEGAAAMQAwFKt0gcAAAAASUVORK5CYII=)!important;
  z-index:6000;
}


.modalCloseIcon {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 10px;
  margin-right: 10px;
  font-size: 2.5rem;
  font-size: 30px;
  color:#333333;
  outline: none;
}
.modalCloseIcon::after {
  font-family: 'vzwIcons';
  content: "\00d7";

}
.modalContent{
  max-height: 100vh;
}

.modalBody{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .homePageLeftSection{
    background: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .dashBoardStoryBox{
    padding: 20px;
    background-color: #fc6c77;

  }
  .dashBoardStoryBoxImg{
    min-width: 120px;
    min-height: 120px;
    background-color: #3f3f3f;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .homePageTree{
    display: none;
  }

  .homePageLeftSection{
    background: url(./../images/tree.svg) no-repeat top right;
    background-size: contain;

    width: 100%;
    height:100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .homePageTree{
    display: none;
  }

  .homePageLeftSection{
    background: url(./../images/tree.svg) no-repeat top right;
    background-size: contain;

    width: 100%;
    height:100%;
  }


  .dashBoardStoryBox{
    padding: 10px;
    background-color: #fc6c77;

  }
  .dashBoardStoryBoxImg{
    min-width: 140px;
    min-height: 140px;
    background-color: #3f3f3f;
  }
}
