/**************************************************
	  		     Global Buttons
**************************************************/

.button {
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	color: #fff;
	background-color: #000;
	cursor: pointer;

	font-size: 12px;
	font-size: 1.2rem;
	width: auto;
	min-width: 84px;
	border-radius: 24px;
	border: 1px solid #000;
	height: 35px;
	outline: none;
	line-height:2.2rem;
}


/**************************************************
	  		Primary Button (Black)
**************************************************/

.button.primary {
	color: #fff;
	background-color: #000;
}


/**************************************************
	  		Secondary Button
**************************************************/

.button.primary:hover,
.button.secondary {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
}

/**************************************************
             Plain Button
        Simple outline
**************************************************/

/* .border_grayThree */
.button.plain {
	background: none;
	border-radius: 0;
	border: 1px solid #D8DADA;
	color: #000;
	font: inherit;
	line-height: normal;
	min-height: 55px;
	overflow: visible;
	padding: 8px;
	text-align: left;
	width: 100%;
}

.button.plain.selected,
.button.plain.hover:hover {
	border: 1px solid #000;
}

.button.plain.radio input[type="radio"] {
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 0;
}

/**************************************************
             Plain Button
            No outline
**************************************************/

.button.no-style {
	background: none;
	border: none;
	color: #000;
}

/**************************************************
		Modification Button
**************************************************/

.button.large {
	padding-left: 18px;
	padding-right: 18px;
	min-width: 114px;
}

/*.button:focus {
  outline: none;
  box-shadow: 0 0 1pt 1pt orange;
}*/


/**************************************************
		Disabled button
**************************************************/

.button.disabled,
.button[disable="true"],
.button[disabled] {
	background-color: #fff;
	color: #aeaeae;
	border: 1px solid #aeaeae;
	cursor: default;
}

.button.m-fullWidth{
	width: 100%;
}