/*font Sizes*/
.fontSize_11 {
  font-size: 75px;
  font-size: 7.5rem;
}

.fontSize_10 {
  font-size: 56px;
  font-size: 5.6rem;
}

.fontSize_9_5 {
  font-size: 42px;
  font-size: 4.2rem;
}

.fontSize_9_2 {
  font-size: 32px;
  font-size: 3.2rem;
}

.fontSize_9_1 {
  font-size: 30px;
  font-size: 3rem;
}

.fontSize_9 {
  font-size: 24px;
  font-size: 2.4rem;
}

.fontSize_8 {
  font-size: 22px;
  font-size: 2.2rem;
}

.fontSize_7 {
  font-size: 20px;
  font-size: 2.0rem;
}

.fontSize_6 {
  font-size: 18px;
  font-size: 1.8rem;
}

.fontSize_5 {
  font-size: 16px;
  font-size: 1.6rem;
}

.fontSize_4 {
  font-size: 14px;
  font-size: 1.4rem;
}

.fontSize_3 {
  font-size: 13px;
  font-size: 1.3rem;
}

.fontSize_2 {
  font-size: 12px;
  font-size: 1.2rem;
}

.fontSize_1 {
  font-size: 10px;
  font-size: 1.0rem;
}

.fontWeightBold{
  font-weight: bold;
}
