.style-1 input[type="text"] {
    padding: 10px;
    border: solid 1px gainsboro;
    -webkit-transition: box-shadow 0.3s, border 0.3s;
    -moz-transition: box-shadow 0.3s, border 0.3s;
    -o-transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus, .style-1 input[type="text"].focus {
    border: solid 1px #707070;
    -webkit-box-shadow: 0 0 5px 1px #969696;
    -moz-box-shadow: 0 0 5px 1px #969696;
    box-shadow: 0 0 5px 1px #969696;
}