
.bm-menu-wrap {
    width: 250px;
    z-index: 4001 !important;
}

.bm-burger-button {
    position: relative;
    width: 16px;
    height: 12px;
    margin: 20px 10px 20px 16px;
    float: left;
    z-index: 4000 !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #cd040b;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
    top: 14px !important;

}

/* Color/shape of close button cross */
.bm-cross {
    background: #fff;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    background: linear-gradient(to bottom, #333333 4em, #222222 calc(4em - 100%));
    padding: 0 0 0;
    font-size: 1.15em;
}

.profile-header{
    display: block;
    outline: none;
    padding: 30px;
    padding-left: 2em;
    width: 100%;
    background-color: #747676;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    height: 100% !important;
    overflow: scroll;
    border-top: 1px solid #333;
    padding-bottom: 72px;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, -webkit-transform 0s 0.3s !important;

}

.menu-item {
    background: #222222;
}

.menu-item:hover {
    color: #747676;
    text-decoration-line: none;
}

.menu-item.selected {
    border-left: 6px solid #f8d362;
}

.menu-footer {
    bottom: 0;
    background-color: #333333;

}


.bm-submenu {
    background-color: #3f3f3f;

}

.submenu-icon {
    max-width: 35px;
    max-height: 35px;
}
