.color_000 {color:#000;} /* Black */
.color_959595 {color:#959595;} /* Light Gray */
.color_747676 {color:#747676;}
.color_4B4B4B {color:#4b4b4b;} /* Gray */
.color_333 {color:#333333;}
.color_666 {color:#666666;}
.color_FFF {color: #FFF}
.color_red {color:#cd040b;} /* Red - Verizon Red*/
.color_blue_two {color: #06C}
.color-green {color:#489A48;}


.width-100 {
    width: 100%;
}

/* classes to change display type. */
.displayInline {
    display: inline;
}

.displayBlock {
    display: block;
}

.displayInlineBlock {
    display: inline-block;
}

.displayNone {
    display: none
}

.marginAuto {
    margin: auto;
}

.textUnderline {
    text-decoration-line: underline;
}

.overFlowWrap {
    overflow-wrap: break-word;
}

.clearFloat{
    clear: both;
}

.cursorHand{
    cursor: pointer;
}

.pure-img {
    max-width: 100%;
}

.background_themeColor {
    background-color: #01d5d8;
}
.background_dbdddd {
    background-color: #dbdddd;
}
.bgCover{
    background-size: cover;
}

.bg-top {
    background-position: top;
}

.textItalic{
    font-style: italic;
}


.vh91{
    min-height:91vh;
}

